/* From Uiverse.io by vinodjangid07 */
.live-link-button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

@media (min-width: 640px) {
  .live-link-button {
    width: 42px;
    height: 42px;
  }
}

.live-link-button .svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.live-link-button .svgIcon path {
  fill: black;
}

.live-link-button:hover .svgIcon path {
  fill: white;
}

.live-link-button:hover {
  width: 105px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.live-link-button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.live-link-button::before {
  position: absolute;
  bottom: -20px;
  content: "Live Link";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
  white-space: nowrap;
}

.live-link-button:hover::before {
  font-size: 12px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
