@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* head button */
.headbutton {
  padding: 15px 20px;
  background: transparent;
  border: none;
  position: relative;
  z-index: 1;
}

.headbutton::after,
.headbutton::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.headbutton::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.headbutton::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.headbutton:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.headbutton:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.headbutton:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.blinking {
  animation: blink 1s infinite; /* Adjust duration as needed */
}

/* card */
.kard {
  width: 190px;
  height: 50px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.kard:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
/* new button */
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}

/* .maskStyle {
  position: absolute;
  mask-image: url("../src/assets/Ellipse\ 1.png");
  background: rgb(255, 4, 4);
  mask-repeat: no-repeat;
  mask-position: 50%;
  mask-size: 400px;
  color: #750bff;
  z-index: 9999;
} */
/* cursor */
/* * {
  cursor: none;
} */
/* .cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
} */
/* .cursor {
  width: 20px;
  height: 20px;
  background-color: #e8e8e8;
  border: none;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
  transition: transform 0.3s ease;
}
.software:hover + .cursor {
  transform: scale(5);
} */
.hoverStyle:hover ~ .cursor {
  transform: scale(5);
}
/* .softwareNone:hover ~ .cursor {
  cursor: pointer;
  background-color: transparent;
}
/* FONTS */
@font-face {
  font-family: "BrolimoRegular";
  src: url("./fonts/BrolimoRegular.ttf");
}
@font-face {
  font-family: "ArchivGroteskTrial-RegularTrial";
  src: url("./fonts/ArchivGroteskTrial-RegularTrial.otf");
}
@font-face {
  font-family: "NeueMontreal-Regular";
  src: url("./fonts/NeueMontreal-Regular.ttf");
}
@font-face {
  font-family: "FoundersGrotesk-Semibold";
  src: url("./fonts/FoundersGrotesk-Semibold.ttf");
}
@font-face {
  font-family: "Diastema-regular";
  src: url("./fonts/Diastema\ Regular.ttf");
}

/* type animation */
.typeAnimation {
  color: transparent;
  -webkit-text-stroke: 1px #03c988;
  background: url("./assets/black.png");
  -webkit-background-clip: text;
  background-position: 0 10;
  animation: back 20s linear infinite;
}
.typeAnimation2 {
  color: transparent;
  -webkit-text-stroke: 1px #f6fffc;
  -webkit-background-clip: text;
}
@keyframes back {
  100% {
    background-position: 2500px 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* banner button */
.myCustom {
  rotate: 90deg;
}
.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: black;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

.fancy:hover .text {
  color: white;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
